/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 8px;
  /* justify-content: center; */
  align-content: stretch;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* flex-grow: 1; */
  /* margin-right: auto; */
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}
